# URL de conexão com o PostgreSQL
# Formato: postgresql+psycopg2://<usuario>:<senha>@<host>:<porta>/<nome_do_banco>
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/estimativa_custo
